<!DOCTYPE html>
<html>
  <head>
    <title> All sources </title>
    <link rel='stylesheet' href='/static/css/main.css'>
    <link rel='stylesheet' href='/static/css/skeleton.css'>
    <link rel='stylesheet' href='/static/css/normalize.css'>
  </head>
  <body>
    <div class="home">
    <header class="site-header">

      <h1><img src="/static/images/logos/icon_white.svg" style="height: 2ex; vertical-align: middle"> reproducible<span class="punctuation">-</span>builds<span class="punctuation">.org</span></h1>
    </header>
    <div class="container">
      <article>
          {{ request.host }}'s debian rebulider setup for.

          Check out <a href='/sources'>a list of the packages re-built on this instance</a>
      </article>
    </div>
  </body>
</html>
