.site-header {
  background: #1e5b96;
  color: #fff;
  width: 100%;
  min-height: 56px;
  margin-bottom: 4.0rem;
}

.home header {
  text-align: center;
  padding-bottom: 1.0rem;
}
.home header h1 {
  padding-top: 4.0rem;
  padding-bottom: 2.0rem;
}
.site-header .punctuation {
  color: #2b89d6;
}
.home header .tagline {
  font-size: 2.0rem;
}
@media (min-width: 480px) {
  .home header h1 {
    font-size: 5.8rem;
  }
}
@media (min-width: 750px) {
  .home .title, .post-content .title  {
    text-align: right;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
  }
  .home .title  h2, .post-content .title h2 {
    line-height: 1;
    margin-bottom: 0;
    font-size: 2.8rem;
  }
}
@media (min-width: 900px) {
  .home .title h2, .post-content .title h2 {
    font-size: 3.0rem;
  }
}
@media (min-width: 1000px) {
  .home .title h2, .post-content .title h2 {
    font-size: 3.2rem;
  }
}
@media (min-width: 1100px) {
  .home .title h2, .post-content .title h2 {
    font-size: 3.4rem;
  }
}
@media (min-width: 1200px) {
  .home .title h2, .post-content .title h2 {
    font-size: 3.6rem;
  }
}

.home .text p, .post-content .text p, .home .text ul, .home .text ol, .post-content .text ul, .post-content .text ol {
  max-width: 60ex;
  margin-bottom: 1rem;
}

a {
    color: #1e5b96;
}

.text p {
  text-align: justify;
}

.home .posts { list-style-type: none; }

.home .posts li { margin-bottom: 30px; }

.home .posts .post-link {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 1;
}

.home .posts .post-date {
  display: block;
  font-size: 15px;
  color: #818181;
}

.site-title,
.site-title:hover,
.site-title:visited {
  display: block;
  color: white;
  font-size: 23px;
  letter-spacing: -1px;
  float: left;
  line-height: 50px;
  position: relative;
  z-index: 1;
  text-decoration: none;
}

.site-nav {
  float: right;
  line-height: 56px;
}

.home nav {
  line-height: 56px;
  text-align: center;
}

.home .site-header {
  margin-bottom: 0.5rem;
}
.home nav {
  margin-bottom: 4rem;
}

.site-nav a, .home nav a {
  text-decoration: none;
  font-weight: 700;
}

.site-nav a:hover, .home nav a:hover {
  text-decoration: underline;
}

.site-nav .menu-icon { display: none; }

.site-nav .page-link {
  margin-left: 20px;
  color: white;
  letter-spacing: -.5px;
}

.home nav .page-link {
  margin-left: 20px;
  letter-spacing: -.5px;
}

.show-on-mobiles {
  display: none;
}

.current a {
  font-weight: bold;
}

@media screen and (max-width: 749px) {
  .show-on-mobiles {
    display: block !important;
  }
  .hide-on-mobiles {
    display: none;
  }

  .site-footer .row .columns {
    margin-bottom: 3rem;
  }

  .site-footer .git-location p {
    text-align: left;
  }
  .site-footer .git-location code {
    text-align: left;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
    white-space: normal;
  }
}

@media screen and (max-width: 899px) {
  .site-nav .show-on-mobiles {
    display: block !important;
  }
  .site-nav .hide-on-mobiles {
    display: none;
  }
  .site-nav {
    position: fixed;
    z-index: 10;
    top: 10px; right: 8px;
    background-color: #1e5b96;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #2b89d6;
  }

  .site-nav .menu-icon {
    display: block;
    font-size: 24px;
    color: white;
    float: right;
    width: 36px;
    text-align: center;
    line-height: 36px;
  }

  .site-nav .menu-icon svg { width: 18px; height: 16px; }

  .site-nav .trigger {
    clear: both;
    margin-bottom: 5px;
    display: none;
  }

  .site-nav:hover .trigger { display: block; }

  .site-nav .page-link {
    display: block;
    text-align: right;
    line-height: 1.25;
    padding: 5px 10px;
    margin: 0;
  }
}

aside h4 {
  font-size: 2.0rem;
}

aside li {
  list-style: none;
  margin-bottom: 0;
}

aside li a {
  text-decoration: none;
}

.section-nav {
  margin-top: 5rem;
}

.section-nav .disabled {
  opacity: .5;
  cursor: default;
  border: 1px solid #bbb;
  color: #555;
}

.section-nav > div {
  width: 49.5%;
  float: left;
}

.section-nav .next {
  float: right;
}

.post-content .doc-index h4 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.post-content .doc-index ul {
  padding-left: 0;
}
.post-content .doc-index li {
  list-style: none;
  margin-bottom: 0;
}

@media (min-width: 750px) {
  .post-content h2 { font-size: 3.6rem; font-weight: bold; }
  .post-content h3 { font-size: 3.0rem; font-weight: bold; }
  .post-content h4 { font-size: 2.4rem; font-weight: bold; }
  .post-content h5 { font-size: 1.8rem; font-weight: bold; }
  .post-content h6 { font-size: 1.5rem; font-weight: bold; }
}

.post-header { margin: 0px 0 30px; }

.post-header h1 {
  line-height: 1;
  margin-bottom: 1rem;
}

.post-header .meta, .title .meta {
  font-size: 15px;
  color: #818181;
  margin-top: 5px;
}
.post-header .meta {
  line-height: 6.0rem;
}
.title .meta {
  line-height: 5.0rem;
}

@media (min-width: 750px) {
  .post-header .meta {
    text-align: right;
  }
}

.post-content h3 a {
  text-decoration: none;
  color: black;
}

.post-content dl {
  margin-top: 0;
}

.post-content ul, .post-content ol {
  list-style-position: outside;
  padding-left: 1.5rem;
}
.post-content ul ul,
.post-content ul ol,
.post-content ol ul,
.post-content ol ol {
  margin: 0 0 0 3rem;
}

.post-content li {
  margin-bottom: 0;
}

.post-content .footnotes {
  margin-top: 4rem;
  font-size: small;
}

.post-content .wrong code {
  border-color: red;
  background-color: #f1c1c1;
}

.post-content .correct code {
  border-color: green;
  background-color: #c1f1c1;
}

.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 3.0rem 0;
}

.site-footer ul { list-style: none; }

.footer-heading {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -.5px;
  margin-bottom: 15px;
}

.site-footer li,
.site-footer p {
  font-size: 15px;
  letter-spacing: -.3px;
  color: #828282;
  margin-bottom: 0;
}

.site-footer .git-location {
  text-align: center;
}

.twitter-icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(Raleway/Raleway-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 300;
  src: local('Raleway Light Italic'), local('Raleway-LightItalic'), url(Raleway/Raleway-LightItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(Raleway/Raleway-Regular.ttf) format('truetype'), local('Raleway');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: local('Raleway Italic'), local('Raleway-Italic'), url(Raleway/Raleway-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold Italic'), local('Raleway-SemiBold'), url(Raleway/Raleway-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 600;
  src: local('Raleway SemiBold Italic'), local('Raleway-SemiBoldItalic'), url(Raleway/Raleway-SemiBoldItalic.ttf) format('truetype');
}

/* Syntax highlighting styles */
/* ----------------------------------------------------------*/

.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

dl.talks dd {
  margin-bottom: 20px;
}

nav select {
  margin-top: 20px;
}

.post-simple {
  text-align: justify;
  padding-bottom: 40px;
}

.post-simple img {
  max-width: 100%;
}

.post-simple h3 {
  margin-top: 50px;
}
